---
import { getCollection } from 'astro:content';
import EducationCardLite from './EducationCardLite.astro';
import { DateTime } from 'luxon';

const degrees = await getCollection('education');
const sortedDegrees = degrees.sort((a, b) => {
  const dateA = DateTime.fromFormat(a.data.startDate, 'yyyy-MM');
  const dateB = DateTime.fromFormat(b.data.startDate, 'yyyy-MM');
  return dateB.diff(dateA).toMillis();
});
---

<section id="education" aria-labelledby="education">
  <h4 class="mb-4 text-primary-900">Education</h4>
  <div class="space-y-7 w-full max-w-4xl mx-auto">
    {sortedDegrees.map((degree) => (
      <EducationCardLite {...degree.data} />
    ))}
  </div>
</section> 