---
import { getCollection } from 'astro:content';
import SectionTitle from './SectionTitle.astro';
import ExperienceCard from './ExperienceCard.astro';
import { DateTime } from 'luxon';

const experiences = await getCollection('experiences');
const sortedExperiences = experiences.sort((a, b) => {
  const dateA = DateTime.fromFormat(a.data.startDate, 'yyyy-MM');
  const dateB = DateTime.fromFormat(b.data.startDate, 'yyyy-MM');
  return dateB.diff(dateA).toMillis();
});

const monthsOfExperience = experiences
    .filter(experience => 
        experience.data.contractType !== 'Work-study contract' && 
        experience.data.contractType !== 'Internship'
    )
    .map(experience => {
        const startDate = DateTime.fromFormat(experience.data.startDate, 'yyyy-MM');
        const endDate = DateTime.fromFormat(experience.data.endDate, 'yyyy-MM');
        const duration = endDate.diff(startDate, ['months']).as('months');
        return Math.round(duration);
    })
    .reduce((acc, curr) => acc + curr, 0);

const yearsOfExperience = Math.floor(monthsOfExperience / 12);
const remainingMonths = monthsOfExperience % 12;
---

<section id="experience" aria-labelledby="experience" class="p-4 mb-12 scroll-mt-16">
  <SectionTitle id="experience" description={`${yearsOfExperience}${remainingMonths > 0 ? '+' : ''} years in web development`}>Experience</SectionTitle>
  <div class="space-y-6 w-full max-w-4xl mx-auto mb-8">
    {sortedExperiences.map((experience) => (
      <ExperienceCard 
        {...experience.data} 
        content={experience.body}
        render={experience.render}
        subExperiences={experience.data.subExperiences || []}
      />
    ))}
  </div>
</section> 