---
import { getCollection } from 'astro:content';
import SectionTitle from './SectionTitle.astro';
import ExperienceCard from './ExperienceCard.astro';
import { DateTime } from 'luxon';

const experiences = await getCollection('experiences');
// old way:
// const sortedExperiences = experiences.sort((a, b) => a.data.order - b.data.order);
// new way:
const sortedExperiences = experiences.sort((a, b) => {
  const dateA = DateTime.fromFormat(a.data.startDate, 'yyyy-MM');
  const dateB = DateTime.fromFormat(b.data.startDate, 'yyyy-MM');
  return dateB.diff(dateA).toMillis();
});
---

<section id="experience" aria-labelledby="experience" class="p-4 mb-12 scroll-mt-16">
  <SectionTitle id="experience">Experience</SectionTitle>
  <div class="space-y-6 w-full max-w-4xl mx-auto">
    {sortedExperiences.map((experience) => (
      <ExperienceCard 
        {...experience.data} 
        content={experience.body}
        subExperiences={experience.data.subExperiences || []}
      />
    ))}
  </div>
</section> 