---
import { getCollection } from 'astro:content';
import SectionTitle from './SectionTitle.astro';
import ProjectCard from './ProjectCard.astro';

const projects = await getCollection('projects');
const sortedProjects = projects.sort((a, b) => a.data.order - b.data.order);
---

<section id="projects" aria-labelledby="projects" class="p-4 mb-12 scroll-mt-16">
  <SectionTitle id="projects">Projects</SectionTitle>
  <div class="space-y-6 w-full max-w-4xl mx-auto">
    {sortedProjects.map((project) => (
      <ProjectCard project={project} />
    ))}
  </div>
</section> 